<html>
  <head>
    <title>Welcome to BSidesSLC's little Dev Server</title>
  </head>
  <body>
    <center>
    <a href="/lol">Our code development server</a>
    <br />
    <a href="/validate">Our little validation service</a>
    <hr />
    <img src="https://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p640x640/14716484_1136969396379311_5978113710277787648_n.jpg?ig_cache_key=MTM2MTMwODc0NzUzNzE5MDY5OQ%3D%3D.2">
    <hr />
    </center>
  </body>
</html>


















































































































<!-- AccessRequestedAccessGranted -->
